#blue {
	background-color: blue;
	width: 100px;
	height: 100px;
}
#red {
	background-color: red;
	width: 100px;
	height: 100px;
}
#yellow {
	background-color: yellow;
	width: 100px;
	height: 100px;
}
#green {
	background-color: forestgreen;
	width: 100px;
	height: 100px;
}
body {
	background-color:black;
}
#randomcolour {
	color: white;
}
#clicked {
	color: white;
}
button {
	display: inline-block;

}
img {
	height: 100%;
	width: 100%;
	border: 2px solid white;
}
#buttonsWrapper {
	margin: 0 auto;
	width: 204px;
	height: 202px;
}
#gameWrapper {
	height: 100%;
	width: 100%;
}
h1 {
	color: red;
	font-size: 3em;
	text-align: center;
}
#start {
	width: 7vw;
	height: 7vh;
}