#blue{
	background-color: blue;
	width: 100px;
	height: 100px;
}
#red{
	background-color: red;
	width: 100px;
	height: 100px;
}
#yellow{
	background-color: yellow;
	width: 100px;
	height: 100px;
}
#green{
	background-color: forestgreen;
	width: 100px;
	height: 100px;
}
body {
	background-color:black;
}
#randomcolour {
	color: white;
}
#clicked {
	color: white;
}